@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  scroll-behavior: smooth;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar-bg {
  background-color: #09124273;
}

.GradientColor {
  background: linear-gradient(
    91deg,
    #212b59 18.18%,
    rgba(9, 18, 66, 0.2) 64.92%
  );
}
.header {
  background: transparent;
  position: relative;
  width: 100%;
  z-index: 1000;
  transition: all 0.3s ease-in;
}
.home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../src/assets/img/background/landing-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
}
.GradientColorProducts {
  background: rgb(244, 244, 244);
  background: linear-gradient(
    180deg,
    rgba(244, 244, 244, 1) 35%,
    rgba(244, 244, 244, 0.16307773109243695) 100%
  );
}
.ImageWhyUs {
  background-image: url("assets/img/background/BackgroundWhyUs.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bold {
  font-family: bold;
}

.text {
  clip-path: polygon(91% 0, 100% 18%, 100% 100%, 0 100%, 0 1%);
}
.text:before {
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  content: "";
  position: absolute;
  width: 0;
}

.imageBgFooter {
  background-image: url("assets/img/background/footer.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.landing-image {
  background-image: url("assets/img/background/landing-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pattern-image {
  background-image: url("assets/about-page/Pattern.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Extrabold {
  font-family: Extrabold;
}
.Italic {
  font-family: Italic;
}
.light {
  font-family: light;
}
.Medium {
  font-family: Medium;
}
.Regular {
  font-family: Regular;
}
@font-face {
  font-family: "bold";
  src: local("NeurialGrotesk"),
    url("../src/assets/fonts/NeurialGrotesk-Bold.otf") format("truetype");
}
@font-face {
  font-family: "Extrabold";
  src: local("NeurialGrotesk"),
    url("../src/assets/fonts/NeurialGrotesk-Extrabold.otf") format("truetype");
}
@font-face {
  font-family: "Italic";
  src: local("NeurialGrotesk"),
    url("../src/assets/fonts/NeurialGrotesk-Italic.otf") format("truetype");
}
@font-face {
  font-family: "light";
  src: local("NeurialGrotesk"),
    url("../src/assets/fonts/NeurialGrotesk-Light.otf") format("truetype");
}
@font-face {
  font-family: "Medium";
  src: local("NeurialGrotesk"),
    url("../src/assets/fonts/NeurialGrotesk-Medium.otf") format("truetype");
}

@font-face {
  font-family: "Regular";
  src: local("NeurialGrotesk"),
    url("../src/assets/fonts/NeurialGrotesk-Regular.otf") format("truetype");
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 700px;
  width: 500px;
}
.map-responsive iframe {
  left: 0;
  top: 0;
  border: 0;
  height: 100%;
  width: 100%;
}

.scroll::-webkit-scrollbar {
  width: 0.3em;
  height: 100px;
}

.scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #faba20;
}







.swiper {
  width: 90%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 16px;
  background: #fff;

  
  display: flex;
  justify-content: center;
  align-items: center;
}


.swiper-slide, .swiper-slide.swiper-slide-next, .swiper-slide.swiper-slide-active, .swiper-slide.swiper-slide.swiper-slide-prev{
display: flex !important;
}
.swiper-button-prev{
  background-color: transparent !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  opacity: 1 !important;
  padding: 10px !important;
  width: 60px !important;
  height: 60px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  color: #5c5c5c !important;
  border-radius: 100%;
  padding-right: -180px !important;
  background-image: url('./assets//icons_swiper.png');
}
.swiper-button-next{
  background-position: center !important;
  background-repeat: no-repeat !important;
  opacity: 1 !important;
  width: 60px !important;
  height: 60px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  color: #5c5c5c !important;
  border-radius: 100%;
  margin-left: 190px ;
  background-image: url('./assets//icons_swiper2.png');


}

.swiper-button-prev:after, .swiper-button-next:after {
  content: "" !important;
  font-family: swip-icons !important;
  display: none !important;
  font-size: 20px !important;
  background:  red !important;
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
  
}